<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ui.image.ImageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.image.ImageDetailFragment"
            android:exported="false" />

    </application>

</manifest>